{
  extends: [
    'standard',
    'standard-react'
  ],
  rules: {
    'space-before-function-paren': 'off',
    'react/prop-types': 'off',
    'no-multi-spaces': 'off',
    'comma-dangle': 'off'
  }
}
